<div class="form_wrapper">
  <div class="form_inner">
    <div class="title-content">
      <div class="button_link">
        <div class="show_link">
          <% if user_signed_in? && current_user.id == @recipe.user_id %>
            <% if @recipe.released? %>
              <%= link_to nonrelease_recipe_path(@recipe), method: :patch do %>
                <button class="button_release" >非公開にする</button>
              <%end%>
            <% else %>
              <%= link_to release_recipe_path(@recipe), method: :patch do %>
                <button class="button_release" >公開にする</button>
              <%end%>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="main_contents">
        <%= render "recipes/recipe", recipes: @recipes %>
        <div class="title_recipe">材料</div>
        <div id="foodstuffs_area">
          <%= render "foodstuffs/create", foodstuffs: @foodstuffs %>
        </div>
        <div class="js-message-errors"></div>
        <%= render "recipes/foodstuff_form", recipe: @recipe,foodstuff: @foodstuff %>
        <div class="show_link">
          <% if user_signed_in? && current_user.id == @recipe.user_id %>
            <%= link_to recipe_path(@recipe.id), method: :get do %>
              <button class="button_show_link" >戻る</button>
            <%end%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="recipephoto_form">
      <div class="title_recipe">レシピ画像・テキスト</div>
        <%= render "recipephotos/recipephoto", recipephoto: @recipephotos %>
      </div>
    </div>
  </div>
</div>
