<div class="form_wrapper">
  <div class="form_inner">
    <div class="title-content">
      <div class="button_link">
        <div class="show_link">
          <% if user_signed_in? && current_user.id == @recipe.user_id %>
            <% if @recipe.released? %>
              <%= link_to nonrelease_recipe_path(@recipe), method: :patch do %>
                <button class="button_release" >非公開にする</button>
              <%end%>
            <% else %>
              <%= link_to release_recipe_path(@recipe), method: :patch do %>
                <button class="button_release" >公開にする</button>
              <%end%>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="main_contents">
        <div class="image-contents">
          <%= image_tag @recipe.main_image %>
        </div>
        <div class="text_content">
          <div class="title_recipe">レシピ</div>
          <div class="title_content">
            <div class="title_field">
              <P>レシピ名</p>
            </div>
            <div class="title_fields">
              <p><%= @recipe.title %></p>
            </div>
          </div>
          <div class="title_content">
            <div class="title_field">
              <p>紹介文</p>
            </div>
            <div class="title_fields">
              <%= @recipe.process %>
            </div>
          </div>
          <div class="title_content">
            <div class="title_field">
              <P>分量(何人前)</p>
            </div>
            <div class="title_fields">
              <p><%= @recipe.details %></p>
            </div>
          </div>
          <div class="title_recipe">材料</div>
          <div id="foodstuffs_area">
            <%= render "foodstuffs/create", foodstuffs: @foodstuffs %>
          </div>
          <div class="js-message-errors"></div>
          <%= render "recipes/foodstuff_form", recipe: @recipe,foodstuff: @foodstuff %>
          <div class="show_link">
            <% if user_signed_in? && current_user.id == @recipe.user_id %>
              <%= link_to recipe_path(@recipe.id), method: :get do %>
                <button class="button_show_link" >戻る</button>
              <%end%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="recipephoto_form">
        <div class="title_recipe">レシピ画像・テキスト</div>
        <div class="recipe-contents">
          <% @recipephotos.each do |recipephoto| %>
            <div class="recipe-content-show">
              <div class='recipephoto-images'>
                <% if @recipephoto.sub_image.attached? %>
                  <div class='recipephoto-images'>
                    <%= image_tag recipephoto.sub_image, class: "user_image_index" %>
                  </div>
                <% else %>
                  <div class='recipephoto-img'>
                    <%= image_tag ("photo.jpg") , class: "none_image" %> 
                  </div>
                <% end%>
              </div>
              <p class="recipephoto_texts">
                <p><%= recipephoto.text %></p> 
              </p>
            </div> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
