<div class="main_form">
  <div class="sign_up_form">
  <div class="title_recipe">新規登録</div>
    <div class="sign_up_forms">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field">
    <div class="filde_name">お名前</div>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "sign_up_fields", placeholder: "お名前" %>
  </div>

  <div class="field">
    <div class="filde_name">メールアドレス</div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "sign_up_fields", placeholder: "半角英数字" %>
  </div>

  <div class="field">
     <div class="filde_name">プロフィール</div>
    <%= f.text_area :profile, autofocus: true, autocomplete: "profile", class: "sign_up_field", placeholder: "プロフィール" %>
  </div>
 

  <div class="field">
     <div class="filde_name">所属</div>
    <%= f.text_field :department, autofocus: true, autocomplete: "department", class: "sign_up_fields", placeholder: "部署" %>
  </div>

  <div class="field">
    <div class="filde_names">パスワード</div>
    <div class="field_password">
    <%= f.password_field :password, autocomplete: "new-password", class: "sign_up_fields", placeholder: "半角英数字 (6文字〜)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign_up_fields", placeholder: "もう一度入力してください" %>
  </div>
  </div>

  <div class="actions_up">
    <%= f.submit "新規登録" %>
  </div>

 
<% end %>
</div>
<div class="sgin_path">登録済の方は、
          <%= link_to "こちら", new_user_session_path, style:"color:#F96167;" %>よりログインを行ってください
      </div>
 </div>

</div>
