<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="comment_form">
      <div class="comment_forms">
        <div class="comments_text">
          <%= image_tag comment.user.user_image %>
          <p><%= comment.text %></p> 
        </div>
      </div>
      <div class="comment_link">
        <div class="comment_icon">
          <i class="fas fa-user"></i>
          <%= link_to comment.user.name, user_path(comment.user.id), method: :get %>
          <i class="fas fa-calendar-alt"></i>
          <%= l comment.created_at %>
          <% if comment.user == current_user %>
            <i class="fas fa-trash-alt"></i>
            <%= link_to '削除', recipe_comment_path(comment.recipe_id, comment.id), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' } %>
          <% end %>
      </div>
    </div>
    </div>
  <% end %>
<% end %>

