<% foodstuffs.each do |foodstuff| %>
    <div id="foodstuff_<%= foodstuff.id %>" >
  <div class="title-name">
           <p><%= foodstuff.material %></p> 
         </div>
         <div class="valu-name">
           <%= foodstuff.quantity %>
         </div>
    </div>
    <div>
        <%= link_to recipe_detail_recipe_path(recipe_id: foodstuff.recipe_id, id: foodstuff.id),remote: true do %>
          <button type='button'><i class='fa fa-clipboard'></i></button>
        <% end %>
    </div>
    <div class="list-inline-item">
        <%= link_to recipe_detail_recipe_path(recipe_id: foodstuff.recipe_id, id: foodstuff.id), method: :delete, remote: true do %>
            <i class='fa fa-trash'></i>
        <% end %>
    </div>
<% end %>

