
<%= form_with(model: [recipe, foodstuff] ) do |f| %>
   <div class="field">
      <%= f.label :material, "材料" %><br />
      <%= f.text_area :material %>
    </div>
    <div class="field">
      <%= f.label :quantity, "分量" %><br />
      <%= f.text_area :quantity %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "コメントをする" %>
  </div>
<% end %>
