<div class="recipe-contents">
<%= form_for [@recipe, @recipephoto], remote: true do |f| %>
 <%= render 'layouts/error_messages', model: f.object %>
    <div class="recipe-content-show">
      <div class='recipephoto-img'>
     <%= image_tag ("photo.jpg") , class: "user_image_index" %> 
           <%= f.file_field :sub_image %> 
      </div>
      <p class="recipephoto_texts">
        <%= f.text_area :text, placeholder: "追加する材料" , class: "recipephoto_text" %>
      </p>
       <div class="actions">
      <%= f.submit "追加" %>
    </div>
    </div> 
  <% end %>
</div>


  