<div class="form_wrapper">
  <div class="form_inner">
    <div class="">
      <div class="title-content">
        <h2>新規レシピ投稿</h2>

      <%= form_with(model: @recipe, local: true) do |f| %>
        <div class="field">
             <%= f.text_area :process, class: :form_prosess %>
        </div>
        <div class="main_contents">
          <div class="image-contents">
            <%= image_tag @recipe.main_image %>
             <%= f.file_field :main_image %> 
          </div>
          <div class="text_content">
            <div class="title_recipe">レシピ</div>
            <div class="title_content">
              <div class="title_field">
                <P>レシピ名</p>
              </div>
              <div class="title_fields">
                <%= f.text_field :title , class: :form_text%>
              </div>
            </div>
            <div class="title_content">
              <div class="title_field">
                <P>分量(何人前)</p>
              </div>
              <div class="title_fields">
                <%= f.text_area :details, class: :form_text %>
              </div>
            </div>
            <div class="check_box">
           
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <li class="tag-list">
                <%= tag.label do %>
                  <%= tag.check_box %>
                  <%= tag.text %>
                <% end %>
              </li>
            <% end %>
          </div>
           <div class="actions">
            <%= f.submit "保存する", class: :form__btn  %>
          </div>
             <% end %>
             <div class="title_recipe">材料</div>
             <div id="foodstuffs_area">
          <%= render "foodstuffs/create", foodstuffs: @foodstuffs %>
        </div>
          <%= render "foodstuff_form", recipe: @recipe,foodstuff: @foodstuff %>
          </div>
        </div>
        
    
      </div>
      <div class="recipephoto_form">

        <div id="recipephotos_area">
          <%= render "recipephotos/create", recipephotos: @recipephotos %>
        </div>
          <%= render "recipephoto_form", recipe: @recipe,recipephoto: @recipephoto %>

      </div>
    </div>
  </div>
</div>

