<div class="form_wrapper">
  <div class="form_inner">
    <div class="title-content">
      <h2>レシピ編集</h2>
      <%= form_with(model: @recipe, local: true) do |f| %>
        <div class="main_contents">
          <div class="image-contents">
            <%= image_tag @recipe.main_image %>
            <%= f.file_field :main_image %> 
          </div>
          <div class="text-content">
            <div class="field">
              <%= f.label :title, "料理名" %><br />
              <%= f.text_field :title , class: :new_form_text %>
            </div>
            <div class="field">
              <%= f.label :process, "紹介文" %><br />
              <%= f.text_area :process, class: :new_form_text %>
            </div>
            <div class="field">
              <%= f.label :details, "何人前" %><br />
              <%= f.text_area :details, class: :new_form_text %>
            </div>
             <span>タグ</span>
            <div class="check_box">
              <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <li class="tag-list">
                  <%= tag.label do %>
                    <%= tag.check_box %>
                    <%= tag.text %>
                  <% end %>
                </li>
              <% end %>
            </div>
            <div class="actions">
              <%= f.submit "保存する", class: :form__btn  %>
            </div>
      <% end %>
            <div class="title_recipe">材料</div>
            <div id="foodstuffs_area">
              <%= render "foodstuffs/create", foodstuffs: @foodstuffs %>
            </div>
            <%= render "foodstuff_form", recipe: @recipe,foodstuff: @foodstuff %>
          </div>
        </div>
      <div class="recipephoto_form">
        <div id="recipephotos_area">
          <%= render "recipephotos/create", recipephotos: @recipephotos %>
        </div>
        <%= render "recipephoto_form", recipe: @recipe,recipephoto: @recipephoto %>
    </div>
  </div>
</div>

