<div class="form_wrapper">
  <div class="form_inner">
    <div class="title-content">
      <div class="title_recipe">レシピ編集</div>
      <%= form_with(model: @recipe, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="main_contents">
          <div class="image-contents">
           <div class="image_preview", id="image-list"></div>
            <%= image_tag @recipe.main_image %>
            <%= f.file_field :main_image %> 
          </div>
          <div class="text-content">
            <div class="field">
              <%= f.label :title, "料理名" %><br />
              <%= f.text_field :title , class: :new_form_text %>
            </div>
            <div class="field">
              <%= f.label :process, "紹介文" %><br />
              <%= f.text_area :process, class: :new_form_text %>
            </div>
            <div class="field">
              <%= f.label :details, "何人前" %><br />
              <%= f.text_area :details, class: :new_form_text %>
            </div>
             <span>タグ</span>
            <div class="check_box">
              <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <li class="tag-list">
                  <%= tag.label do %>
                    <%= tag.check_box %>
                    <%= tag.text %>
                  <% end %>
                </li>
              <% end %>
            </div>
            <div class="actions_edit">
              <%= f.submit "戻る", class: :form_btn  %>
            </div>
      <% end %>
          <div class="title_recipe">材料</div>
              <% @foodstuffs.each do |foodstuff| %>
                <% unless foodstuff.id.nil? %>
                  <div class="foodstuff_form">
                    <div class="foodstuffs_text">
                      <p><%= foodstuff.material %></p> 
                    </div>
                    <div class="foodstuffs_texts">
                      <%= foodstuff.quantity %>
                    </div>
                  </div>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
      <div class="recipephoto_form">
        <div class="title_recipe">レシピ画像・テキスト</div>
        <div class="recipe-contents">
          <% @recipephotos.each do |recipephoto| %>
            <div class="recipe-content-show">
              <div class='recipephoto-images'>
                <% if @recipephoto.sub_image.attached? %>
                  <div class='recipephoto-images'>
                    <%= image_tag recipephoto.sub_image, class: "user_image_index" %>
                  </div>
                <% else %>
                  <div class='recipephoto-img'>
                    <%= image_tag ("photo.jpg") , class: "none_image" %> 
                  </div>
                <% end%>
              </div>
              <p class="recipephoto_texts">
                <p><%= recipephoto.text %></p> 
              </p>
            </div> 
          <% end %>
        </div>
      </div>
  </div>
</div>
