<div class="form_wrapper">
  <div class="form_inner">
    <h2>新規レシピ投稿</h2> 
    <%= form_with(model: @recipe, url: recipes_path, local: true) do |f| %>
      <div class="field">
        <%= f.label :process, "作り方" %><br />
        <%= f.text_area :process, class: :form_prosess %>
      </div>
      <div class="main_contents">
        <div class="image-content">
          <% if @recipe.main_image.attached? %>
            <%= image_tag post.user.user_image , class: "user_image_index"%> 
          <% else %>
            <%= image_tag ( "photo.jpg") , class: "user_image_index" %> 
          <% end%>
          <%= f.file_field :main_image %> 
        </div>
        <div class="text-content">
          <div class="field">
            <%= f.label :title, "料理名" %><br />
            <%= f.text_field :title , class: :form_text%>
          </div>
          <div class="field">
            <%= f.label :details, "何人前" %><br />
            <%= f.text_area :details, class: :form_text %>
          </div>
          <div class="check_box">
            <span>タグ</span>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <li class="tag-list">
                <%= tag.label do %>
                  <%= tag.check_box %>
                  <%= tag.text %>
                <% end %>
              </li>
            <% end %>
          </div>
        </div>
      </div>




      <div class="materials_field">
      <%= f.fields_for :foodstuffs, @recipe.foodstuffs do |foodstuff| %>
        <%# <div class="material_field" id="material_field[0]"> %>
        <%= foodstuff.text_field :material , placeholder: "食材" %>
        <%= foodstuff.text_field :quantity, placeholder: "量" %> 
        </div>
    
      <% end %>
    </div>
    <div class="steps_field">
     
    </div>
    <div class="btn-send">

    </div> 


      
      <div class="actions">
        <%= f.submit "保存する", class: :form__btn  %>
      </div>
    <% end %>
  </div>
</div>

