<div class="main_form">
  <div class="tag-inner">
    <div class="">
      <div class="title-content">
        <div class="title_name">
          <p> 材料</p>
          <p> 分量</p>
        </div>
        <%# <%= render "recipe", recipe: @recipe %> %>
        <div id="foodstuffs_area">
          <%= render "foodstuffs/create", foodstuffs: @foodstuffs %>
        </div>
          <%= render "foodstuff_form", recipe: @recipe,foodstuff: @foodstuff %>
        </div>
      </div>
      <div class="tag-contents">
        <div class="prototype__comments">
          <ul class="comments_lists">
            <div class="title-content">
              <div class="title-name">
                <p>作り方</p>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>



        <div id="recipephotos_area">
          <%= render "recipephotos/create", recipephotos: @recipephotos %>
        </div>
          <%= render "recipephoto_form", recipe: @recipe,recipephoto: @recipephoto %>
