<div class="form_wrapper">
  <div class="form_inner">
    <div class="">
      <div class="title-content">
        <h2>新規レシピ投稿</h2>
        <div class="field">
          <%= @recipe.process %>
        </div>
        <% if user_signed_in? && current_user.id == @recipe.user_id %>
          <%= link_to "編集する", edit_recipe_path(@recipe.id), method: :get %>
        <% end %>
        <div class="main_contents">
          <div class="image-content">
            <%= image_tag @recipe.main_image %>
          </div>
          <div class="text_content">
            <div class="title_recipe">レシピ</div>
            <div class="title_content">
              <div class="title_field">
                <P>レシピ名</p>
              </div>
              <div class="title_fields">
                <p><%= @recipe.title %></p>
              </div>
            </div>
            <div class="title_content">
              <div class="title_field">
                <P>分量(何人前)</p>
              </div>
              <div class="title_fields">
                <p><%= @recipe.details %></p>
              </div>
            </div>
            <div class="title_recipe">材料</div>
              <% @foodstuffs.each do |foodstuff| %>
                <% unless foodstuff.id.nil? %>
                  <div class="foodstuff_form">
                    <div class="foodstuffs_text">
                      <p><%= foodstuff.material %></p> 
                    </div>
                    <div class="foodstuffs_texts">
                      <%= foodstuff.quantity %>
                    </div>
                  </div>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
      <div class="recipephoto_form">
        <div class="title_recipe">レシピ画像・テキスト</div>
        <div class="recipe-contents">
          <% @recipephotos.each do |recipephoto| %>
            <div class="recipe-content-show">
              <div class='recipephoto-images'>
                <%= image_tag recipephoto.sub_image %>
              </div>
              <p class="recipephoto_texts">
                <p><%= recipephoto.text %></p> 
              </p>
            </div> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

