<div class="main_form">
  <div class="tag-inner">
    <div class="">
      <h2 class="page-heading">新規レシピ投稿</h2>       
      <%= form_with(model: @recipe, url: recipes_path, local: true) do |f| %>
        <div class="field">
          <%= f.label :process, "作り方" %><br />
            <p class="detail__message">
              <%= @recipe.process %>
            </p>
        </div>  
        <div class="main-contents">
          <div class="image-content">
            <%= image_tag @recipe.main_image %>
         </div>
         <div class="from-content">
          <div class="title-content">
            <div class="title-name">
              <p> レシピ</p>
            </div>
          </div>
          <div class="title-content">
            <div class="title-name">
              <p> 料理名 </p>
            </div>
            <div class="valu-name">
              <p><%= @recipe.title %></p>
            </div>
          </div>
          <div class="details-content">
            <div class="title-name">
              <p> 分量(何人前) </p>
            </div>   
            <div class="valu-name">
              <p> <%= @recipe.details %></p>
            </div>
          </div>    
      <% end %>
      <div class="title-content">
        <div class="title-name">
          <p> 材料</p>

        <%= form_with(model: [@recipe, @foodstuff], local: true) do |f| %>
    
          <div class="material-content">
            <div class="field">
              <%= f.label :material, "材料" %><br />
              <%= f.text_field :material %>
            </div>
            <div class="field">
              <%= f.label :quantity, "分量" %><br />
              <%= f.text_field :quantity %>
            </div>

            </div>
              <div class="actions">
                <%= f.submit "保存する", class: :form__btn  %>
              </div>
          </div>
        <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="tag-contents">
    <div class="prototype__comments">
      <ul class="comments_lists">
          <div class="title-content">
            <div class="title-name">
              <p>作り方</p>
                 <div class="prototype__comments">
          <% if user_signed_in?%>

          <%= form_with(model: [@recipe, @recipephoto], local: true) do |f| %>
          <%= f.text_field :text %>
          <%= f.file_field :images, name: 'recipephoto[images][]', id: 'recipephoto_image' %>
          <div class="actions">
            <%= f.submit "保存する", class: :form__btn  %>
          </div>
          <div id="image-list"></div>
        <% end%>
          <% end %> 
          <ul class="comments_lists">
            <% if @recipephotos %>
           <% @recipephotos.each do |recipephoto| %>
              <li class="comments_list">
              <p>
               <%= recipephoto.text %>
               <%= image_tag recipephoto.images[0] %>
                 <%# <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %> 
              </p> 
              </li>
              <% end %>
             <% end %>
          </ul>
        </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>



 