<div class="form_wrapper">
  <div class="title-content">
    <div class="button_link">
      <div class="show_link">
        <% if user_signed_in? && current_user.id == @recipe.user_id %>
          <% if @recipe.released? %>
            <%= link_to nonrelease_recipe_path(@recipe), method: :patch do %>
              <button class="button_release" >非公開にする</button>
            <%end%>
          <% else %>
            <%= link_to release_recipe_path(@recipe), method: :patch do %>
              <button class="button_release" >公開にする</button>
            <%end%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="main_contents">
      <div class="image-contents">
        <%= image_tag @recipe.main_image %>
        <p class="tags_link">
          <i class="fas fa-calendar-alt"></i>
          <%= l @recipe.created_at %>
          <i class="fas fa-user"></i>
          <%= link_to @recipe.user.name, user_path(@recipe.user.id), method: :get %>
          <i class="fas fa-comment"></i>
          <%= @recipe.comments.count%>
        </p>
      </div>
      <div class="text_content">
        <div class="show_links">
          <div class="title_recipes"><%= @recipe.title %></div>
          <div class="show_link">
            <% if user_signed_in? && current_user.id == @recipe.user_id %>
              <%=link_to edit_recipe_path(@recipe.id), method: :get do %>
                <button class="button_show_link" >編集</button>
              <%end%>
            <% end %>
          </div>
        </div>
        <%= render "recipes/recipe", recipe: @recipe %>
        <div class="show_links">
          <div class="title_recipes">材料</div>
          <div class="show_link">
            <% if user_signed_in? && current_user.id == @recipe.user_id %>
              <%=link_to edit_recipe_foodstuff_path(@recipe.id), method: :get do %>
                <button class="button_show_link" >編集</button>
              <%end%>
            <% end %>
          </div>
        </div>
        <%= render "foodstuffs/foodstuff", foodstuff: @foodstuffs %>
      </div>
    </div>
  </div>
  <div class="show_links_recipe">
    <div class="title_recipes">作り方</div>
    <div class="show_link">
      <% if user_signed_in? && current_user.id == @recipe.user_id %>
        <%=link_to edit_recipe_recipephoto_path(@recipe.id), method: :get do %>
          <button class="button_show_link" >編集</button>
        <%end%>
      <% end %>
    </div>
  </div>
  <%= render "recipephotos/recipephoto", recipephoto: @recipephotos %>
  <div class="show_links_recipe">
    <div class="title_recipes">Comment</div>
  </div>
  <div class="comment_content">
    <div id="comments_area">
      <%= render "comments/create", comments: @comments %>
    </div>
    <div class="show_links_recipe">
      <div class="title_recipes">New Comment</div>
    </div>
    <div class="js-message-errors"></div>
      <%= render "comment_form", recipe: @recipe,comment: @comment %>
    </div>
  </div>
</div>
 