<%= form_for [@recipe, @foodstuff], remote: true do |foodstuff| %>

  <div id="foodstuff_<%= foodstuff.id %>" >
     <div class="foodstuff_form">
    <div class="field">
   <p><%= foodstuff.material %></p> 
    </div>
    <div class="field">
  <%= foodstuff.quantity %>
    </div>
  </div>

  <div>

    <%= link_to recipe_detail_recipe_path(recipe_id: foodstuff.recipe_id, id: foodstuff.id),remote: true do %>
    ss
    <% end %>
  </div>
  <div class="list-inline-item">
    <%= link_to recipe_detail_recipe_path(recipe_id: foodstuff.recipe_id, id: foodstuff.id), method: :delete, remote: true do %>
      <i class='fa fa-trash'></i>
    <% end %>
  </div>
<% end %>
