<div class="main_form">
  <div class="main">
    <div class="inner">
      <div class="user_wapper">
        <div class="user_image">
          <% if @user.user_image.attached? %>
            <%= image_tag @user.user_image , class: "user_image_index"%> 
          <% else %>
            <%= image_tag ( "photo.jpg") , class: "user_image_index" %> 
          <% end%>
          <p class="user_edit_button">
          <button class="btn btn-secondary btn-lg edit" >
            <%= link_to "プロフィールを編集", edit_user_path(current_user), class: 'btn_user_edit' %>
          </button>
          </p>
        </div>
        <div class="user_form">

              <div class="align-middle">名前</div>
              <div class="align-middles"><%=  @user.name %></div>
              <div class="align-middle">自己紹介</div>
              <div class="align-middles"><%= @user.profile %></div>
              <div class="align-middle">部署</div>
              <div class="align-middles"><%= @user.department  %></div>
              <div class="align-middle">メールアドレス</div>
              <div class="align-middles"><%= @user.email  %></div>

        </div>
      </div>
    </div>
  </div>
</div>