<div class="form_wrapper">
  <div class="title-content">
      <div class="main_contents">
        <div class="user_image">
          <% if @user.user_image.attached? %>
            <%= image_tag @user.user_image , class: "user_image_index"%> 
          <% else %>
            <%= image_tag ( "photo.jpg") , class: "user_image_index" %> 
          <% end%>
          <div class="user_edit_button">
          <div class="user_btns">
          <button class="btn btn-secondary btn-lg edit" >
            <%= link_to "プロフィールを編集", edit_user_path(current_user), class: 'btn_user_edit' %>
          </button>
          </div>
          <div class="user_btns">
          <button class="btn btn-secondary btn-lg edit" >
            <%= link_to "非公開レシピ一覧",  nonreleases_user_path(current_user), class: 'btn_user_edit' %>
          </button>
          </div>
          </div>
        </div>
        <div class="user_form">

              <div class="align-middle">名前</div>
              <div class="align-middles"><%=  @user.name %></div>
              <div class="align-middle">自己紹介</div>
              <div class="align-middles-profile"><%= @user.profile %></div>
              <div class="align-middle">部署</div>
              <div class="align-middles"><%= @user.department  %></div>
              <div class="align-middle">メールアドレス</div>
              <div class="align-middles"><%= @user.email  %></div>

        </div>
      </div>
      <div class="title_recipe">レシピ一覧</div>
        <div class="tag-contents">
        <% @recipe.each do |recipe| %>
            <% if recipe.status == "released" %>
            <div class="tag-content-show">
              <div class='tag-images'>
                <%= link_to image_tag(recipe.main_image), recipe_path(recipe.id), method: :get %>
              </div>
              <p class="tag_link">
                <%= link_to recipe.title, recipe_path(recipe.id), method: :get %>
              </p>
            </div> 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>