<div class="form_wrapper">
  <div class="form_inner">
    <div class="title-content">
      <div class="button_link">
        <div class="show_link">
          <% if user_signed_in? && current_user.id == @recipe.user_id %>
            <% if @recipe.released? %>
              <%= link_to nonrelease_recipe_path(@recipe), method: :patch do %>
                <button class="button_release" >非公開にする</button>
              <%end%>
            <% else %>
              <%= link_to release_recipe_path(@recipe), method: :patch do %>
                <button class="button_release" >公開にする</button>
              <%end%>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="main_contents">
        <div class="image-contents">
          <%= image_tag @recipe.main_image %>
        </div>
        <div class="text_content">
          <div class="title_recipe">レシピ</div>
          <div class="title_content">
            <div class="title_field">
              <P>レシピ名</p>
            </div>
            <div class="title_fields">
              <p><%= @recipe.title %></p>
            </div>
          </div>
          <div class="title_content">
            <div class="title_field">
              <p>紹介文</p>
            </div>
            <div class="title_fields">
              <%= @recipe.process %>
            </div>
          </div>
          <div class="title_content">
            <div class="title_field">
              <P>分量(何人前)</p>
            </div>
            <div class="title_fields">
              <p><%= @recipe.details %></p>
            </div>
          </div>
          <div class="title_recipe">材料</div>
            <% @foodstuffs.each do |foodstuff| %>
              <% unless foodstuff.id.nil? %>
                <div class="foodstuff_form">
                  <div class="foodstuffs_text">
                    <p><%= foodstuff.material %></p> 
                  </div>
                  <div class="foodstuffs_texts">
                    <%= foodstuff.quantity %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="recipephoto_form">
        <div id="recipephotos_area">
          <%= render "recipephotos/create", recipephotos: @recipephotos %>
        </div>
        <%= render "recipes/recipephoto_form", recipe: @recipe,recipephoto: @recipephoto %>
        <div class="show_link">
            <%= link_to admins_recipe_path(@recipe.id), method: :get do %>
              <button class="button_show_link" >戻る</button>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
