<div class="main_form">
  <div class="tag-inner">
    <div class="tag-contents">

      <div class="tag-content">
        <div class='tag-image'>
          <a href="/tags/1">
            <%= image_tag "french.1.jpg" %> 
          </a>
        </div>
        <p class="card__summary">
          <a href="/tags/1">
             洋食前菜
          </a>
        </p>
    </div>

    <div class="tag-content">
        <div class='tag-image'>
          <a href="/tags/2">
            <%= image_tag "french.2.jpg" %>
          </a>
        </div>
        <p class="card__summary">
          <a href="/tags/2">
            洋食メイン
          </a>
        </p>
    </div>

    <div class="tag-content">
      <div class='tag-image'>
        <a href="/tags/3">
          <%= image_tag "french.3.jpg" %>
        </a>
      </div>
      <p class="card__summary">
        <a href="/tags/3">
          洋食レストラン
        </a>
      </p>
    </div>

    <div class="tag-content">
      <div class='tag-image'>
        <a href="/tags/4">
          <%= image_tag "japan.1.jpg" %>
        </a>
        </div>
        <p class="card__summary">
          <a href="/tags/4">
            和食前菜
          </a>
        </p>
    </div>

    <div class="tag-content">
      <div class='tag-image'>
        <a href="/tags/5">
          <%= image_tag "japan.2.jpg" %>
        </a>
      </div>
      <p class="card__summary">
        <a href="/tags/5">
          和食メイン
        </a>
      </p>
    </div>

    <div class="tag-content">
      <div class='tag-image'>
        <a href="/tags/6">
          <%= image_tag "japan.3.jpg" %>
        </a>
      </div>
      <p class="card__summary">
        <a href="/tags/6">
          和食割烹
        </a>
      </p>
    </div>

    <div class="tag-content">
      <div class='tag-image'>
        <a href="/tags/7">
          <%= image_tag "chinese.1.jpg" %>
        </a>
      </div>
      <p class="card__summary">
        <a href="/tags/7">
          中華前菜
        </a>
      </p>
    </div>

    <div class="tag-content">
      <div class='tag-image'>
        <a href="/tags/8">
          <%= image_tag "chinese.2.jpg" %>
        </a>
      </div>
      <p class="card__summary">
        <a href="/tags/8">
          中華メイン
        </a>
      </p>
    </div>

    <div class="tag-content">
      <div class='tag-image'>
        <a href="/tags/9">
          <%= image_tag "chinese.3.jpg" %>
        </a>
      </div>
      <p class="card__summary">
        <a href="/tags/9">
          中華レストラン
        </a>
      </p>
    </div>
  </div>
</div>
 
 