<!DOCTYPE html>
<html>
  <head>
    <title>Chef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
   <header>
    <div class="header_form">
      <div class="icon">
        <a href="/">
          <%# <%= image_tag "CHEF.img.png",  width: '160px', height: '80px' %> %>
        </a>
      </div>
        <div class="nav_botton">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "タグ 一覧",  root_path, class:"header_button" %></li>
              <li><%= link_to "レシピ 一覧",  recipes_path, class:"header_button" %></li>
              <li><%= link_to "レシピ 投稿",  new_recipe_path, class:"header_button" %></li>
              <%# <li><%= link_to current_user.name, user_path(current_user) , class:"header_button" %></li> %>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header_button"  %></li>
            <% elsif admin_signed_in? %>
              <li>管理者</li>
              <li><%= link_to "タグ 一覧",  admins_tags_path, class:"header_button" %></li>
              <li><%= link_to "レシピ 一覧",  admins_recipes_path, class:"header_button" %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "タグ 一覧",  root_path, class:"header_button" %></li>
              <li><%= link_to "レシピ 一覧",  recipes_path, class:"header_button" %></li>
              <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"header_button" %></li>
              <li><%= link_to "ログイン", new_user_session_path, class:"header_button" %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class:"header_button" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>

        <div class="container">
          Copyright(c) 2021 CHEF
        </div>

    </footer>
  </body>
</html>
